SECRET_PROVIDER=env
ADMIN_USERNAME=
ADMIN_PASSWORD=

USER_USERNAME=
USER_PASSWORD=

API_CLIENT_ID=
API_CLIENT_SECRET=

DB_USERNAME=
DB_PASSWORD=

STANDARD_USER_USERNAME=
STANDARD_USER_PASSWORD=

READONLY_USER_USERNAME=
READONLY_USER_PASSWORD=